body {
	background-image: url("../images/crystals.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	color: #ff69b4;
	font-family: Verdana, arial, sans-serif;
}

header, footer {
	width: 100%;
	text-align: center;
	background-color: #fff;
	opacity: 0.6;
	color: #ff69b4;
}

footer {
	position: fixed;
	bottom: 0;
	height: 30px;
	border-top: solid 2px #ff69b4;
}

footer p {
	margin-top: 5px;
}

h1 {
	font-size: 36px;
	font-weight: bold;
	text-decoration: underline;
	font-family: Verdana, arial, sans-serif;
	padding: 8px 0px 8px 0px;
}

h3 {
	font-size: 20px;
	text-decoration: underline;
	margin-bottom: 5px;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 50px;
}

#instructions {
	margin: 15px 0px 20px 0px;
	border: solid 2px #ff69b4;
	padding: 10px;
}

#instructions p {
	padding: 10px 0px 10px 0px;
}

#instructions p:last-child {
	padding-bottom: 0px;
}

#target {
	float: left;
	margin-right: 40px;
}

#randNum {
	font-size: 48px;
	margin-top:5px;
}

#scoreBoard {
	float: right;
	margin-right: 60px
}

#scoreBoard p {
	font-size: 20px;
	padding-bottom: 15px;
}

.crystal {
	display: inline-block;
}

.crystal img {
	height: 150px;
	width: 150px;
	margin: 5px;
	border: solid 1px #ff69b4;
}

#score {
	margin-top: -80px;
}

#userScore {
	font-size: 48px;
	margin-top: 5px;
}